@import "tailwindcss";

:root {
  --color-primary: #7c00b6;
  --bg: #f9fafb;
  --card: #e4e4e7;
  --text: #1f1f23;
  --primary: #8b5cf6; /* violeta brillante */
}

.bg-primary {
  background-color: var(--color-primary);
}

.text-primary {
  color: var(--color-primary);
}

button, a {
  cursor: pointer;
}

/* --- Light theme (default) --- */
:root {
  --bg: #ffffff;
  --card: #ebd8f8;
  --text: #270c46;
  --text-secondary: #3c2a4b;
  --primary: #cc00ff;
  --primary-dark: #7c00b6;
  --secondary: #16a34a;
  --secondary-dark: #22c55e;
  --accent-yellow: #ffd95a;
}

/* --- Dark theme --- */
.dark {
  --bg: #0b1120;
  --card: #111827;
  --text: #e5e7eb;
  --primary: #9506d7;
  --text-secondary: #9ca3af;
  --secondary: #22c55e;
}
